<!DOCTYPE html>
<html lang="es">

</html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href=""><img class="logo" src="/img/Logo-MercadoLibre-.png" alt="" /></a>
        <div class="barradeBusqueda">
          <form action="/buscar" method="GET">
            <input type="text" placeholder="Buscar productos..." name="search"><i class="fa-solid fa-magnifying-glass"></i>
          </form>
        </div>  
        <h5 class="primero"> <i class="fa-solid fa-hand-holding-heart"></i>Comprá en cuotas y con tarjeta de crédito</h5>
        <nav class="nav-bar">
            <ul class = "lista1">
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="#tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="#vender">Vender</a></li>
                <li><a href="#ayuda">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="usuario">
            <ul class="listaUsuario">
                <li class="signin"><a href="#crearcuenta">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li class="login"><a href="#ingreso">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#mis-compras">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
            </div>            
    </header>
    <main>
        <img width= "100%" src = "/img/home-banner.jpg" alt="">
    <section class="lastvisit">
        <h2>Basado en tu última visita</h2>
        <div class="article">
        <p><img width="30%" src="/img/cafetera.jpg" alt="Cafetera Moulinex" /></p>
        <i class="fa-solid fa-truck-fast"></i>
        <h4>Cafetera Moulinex</h4>
        <h5>$6.700 </h5> <h6>40% OFF</h6>
    </div>
    <div class="article">
        <p><img width="30%" src="/img/mac.jpg" alt="MacBook Pro 2019" /></p>
        <i class="fa-solid fa-truck-fast"></i>      
        <h4>MacBook Pro 2019</h4>
        <h5>$230.000 </h5> <h6>20% OFF</h6>
    </div>
    <div class="article">
    <p><img width="30%" src="/img/samsung.jpg" alt="Samsung Galaxy S10" /></p>
    <i class="fa-solid fa-truck-fast"></i>
    <h4>Samsung Galaxy S10</h4>
    <h5>$70.500</h5> <h6>10% OFF</h6>
    </div>
    <div class="article">
    <p><img width="30%" src="/img/smart.jpg" alt="SmartTv Samsung 43" /></p>
    <i class="fa-solid fa-truck-fast"></i>
    <h4>SmartTv Samsung 43</h4>
    <h5>$23.200 </h5> <h6>5% OFF</h6>
    </div>

    </section>
    <section class="ofertas">
        <h2>Ofertas</h2>
        <div class="article">
            <p><img width="30%" src="/img/iphone.jpg" alt="IPhone 15" /></p>
        <i class="fa-solid fa-truck-fast"></i>
            <h4>IPhone 15</h4>
            <h5>$6.000.700 </h5> <h6>10% OFF</h6>
        </div>
        <div class="article">
        <p><img width="30%"src="/img/camisa.jpg" alt="Camiseta azul" /></p>
        <i class="fa-solid fa-truck-fast"></i>
        <h4>Camiseta azul</h4>
        <h5>$30.000 </h5> <h6>20% OFF</h6>
    </div>
    <div class="article">
    <p><img width="30%" src="/img/pantalon.jpg" alt="Pantalón ZARA" /></p>
    <i class="fa-solid fa-truck-fast"></i>
    <h4>Pantalón ZARA</h4>        
    <h5>$70.500 </h5> <h6>10% OFF</h6>
</div>
<div class="article">
<p><img width="30%" src="/img/cartuchera.jpg" alt="Cartuchera negra" /></p>
<i class="fa-solid fa-truck-fast"></i>
<h4>Cartuchera negra</h4>
<h5>$23.200</h5> <h6>50% OFF</h6>
</div>
    </section>
</main>
    <footer>
        <section class="pago">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <h6>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                en puntos de pago. ¡Y siempre es seguro!
            </h6>
        </section>
        <section class="envio">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <h6>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                de productos. Es un beneficio de Mercado Puntos.
            </h6>
        </section>
        <section class="seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <h6>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </h6>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>