:root {
    --color-amarillo: #EAC926;
    --color-azul1: #03264C;
    --color-azul2: #0062A3;
}

.lastvisit,
.pago {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
}

article {
    background-color: var(--color-azul1);
    /* padding: 10rem; */
    color: white;
    border-radius: 2.5rem;
}

/* Mobile: 1 */
@media (min-width: 22.5rem) {

    .ofertas {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        justify-items: center;
        gap: 1.5rem;

        & h2 {
            width: 100%;
            flex: auto
        }

        & article {
            padding: 1.5rem;
            margin-inline: auto;

            & img {
                max-width: 22.5rem;
                max-height: 11rem;
                border-radius: 1.5rem;
            }

            & h6 {
                display: none;
            }
        }
    }
}

/** Tablet: 3 */
@media (min-width: 48rem) {
    header .burger-menu {
        display: none;
    }

    .ofertas {

        & article {
            /* flex: 0 1 48%; */
            /* width: max-content; */
            box-shadow: 0 0 10px rgb(100, 100, 100);
        }

        & h6 {
            display: block;
        }
    }
}

/* Desktop: 4 */
@media (min-width: 65.5rem) {

    .ofertas article {}
}